* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #2c2828;
  font-family: 'Karla', sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
}

.container {
  background-color: #1C1C1C;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2.5em 1em;
  max-width: 550px;
  min-height: 550px;
  width: 100%;
  margin: 0 auto;
  box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 1);
}

.logo {
  width: 120px;
  margin-bottom: 20px;
  background-color: #1C1C1C;
}

.input {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  background-color: #f5f5f5;
  border-radius: 6px;
  color: #1C1C1C;
  width: 90%;
  padding: 20px;
}

.input>input {
  width: 100%;
  font-size: 1rem;
  font-family: inherit;
  padding: 0.5em 1em;
  border: 1px solid #1C1C1C;
  color: #1C1C1C;
  font-weight: 600;
}


.add-note-btn {
  font-family: inherit;
  font-weight: 700;
  padding: 10px;
  font-size: 1.25rem;
  width: 100%;
  border: none;
  background-color: #423c3c;
  color: #f5f5f5;
  text-transform: uppercase;
  border-radius: 6px;
  cursor: pointer;
}

.add-note-btn:hover {
  background-color: #3a3838;
}

.note-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
  margin-top: 20px;
  width: 90%;
}

.note {
  padding: 1em;
  width: 100%;
  display: flex;
  gap: 0.5em;
  cursor: pointer;
}

.note>.deleteBin {
  margin-left: auto;
}

.note-text {
  font-size: 1.125rem;
  font-weight: 600;
  text-transform: uppercase;
  text-align: start;
}

.deleteBin,
.checkBullet {
  flex-shrink: 0;
  font-size: 1.25rem;
}

.deleteBin:hover,
.checkBullet:hover {
  transform: scale(1.3);
  transition: transform 0.2s ease-in;
}

.priority-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 100%;

}

.priority {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  cursor: pointer;
}

.check-priority-wrapper {
  display: flex;
  gap: 5px;
  flex-wrap: wrap;
}

.priority:hover {
  transform: scale(2);
  transition: all 0.2s ease 0s;
}

.blue {
  background-color: #6cdae7;
}

.green {
  background-color: #07f407;
}

.yellow {
  background-color: #ffcf00;
}

.orange {
  background-color: #ff5722;

}

.red {
  background-color: #ff0000;

}

.crosNote {
  background-color: grey;
}

.sort-text {
  font-size: 0.75rem;
  font-weight: 700;
  text-transform: uppercase;
  background-color: #f5f5f5;
  padding: 1em 1em;
  margin-top: 0.5em;
  cursor: pointer;
}